<!-- partial html head -->
<%- include('./partials/html-head.ejs') %>

<!-- nav bar -->
<%- include('./partials/nav.ejs') %>

<!-- <h1>rendering EJS homepage</h1> -->

<!-- <p> Welcome to <%= RESTAURANT.name %> </p>
<p> located at <%= RESTAURANT.address %> </p>
<p> Reach us at <%= RESTAURANT.phone %> </p> -->
<ul>
    <% RESTAURANT.menu.forEach((item, index) => {%>
        <!-- <a href="/<%= index %>"> -->
        <li> <%= item.name %> - $<%= item.price %></li>
    <% })    %>
</ul>